<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.telehealthmanager.app">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="com.telehealthmanager.app.BaseApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="ExtraText,GoogleAppIndexingWarning"
        tools:targetApi="n">
        <activity android:name="com.telehealthmanager.app.ui.activity.searchDoctor.SearchDoctorScheduleActivity" />
        <activity android:name="com.telehealthmanager.app.ui.activity.medicalrecorddetails.MedicalRecordDetailsActivity" />
        <activity android:name="com.telehealthmanager.app.ui.activity.searchGlobal.SearchGlobalActivity" />
        <activity android:name="com.telehealthmanager.app.ui.activity.searchDoctor.SearchDoctorDetailActivity" />
        <activity android:name="com.telehealthmanager.app.ui.activity.addreminder.AddReminderActivity" />
        <activity android:name="com.telehealthmanager.app.ui.twilio.IncomingVideoCallActivity" />
        <activity android:name="com.telehealthmanager.app.ui.activity.searchDoctor.SearchDoctorActivity" />
        <activity android:name="com.telehealthmanager.app.ui.activity.pubnub.PubnubChatActivity" />
        <activity android:name="com.telehealthmanager.app.ui.activity.chat.ChatSummaryActivity" />
        <activity android:name="com.telehealthmanager.app.ui.activity.chat.ChatProblemAreaActivity" />
        <activity
            android:name="com.telehealthmanager.app.ui.activity.chat.ChatActivity"
            android:label="@string/title_activity_chat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.telehealthmanager.app.ui.activity.success.SuccessActivity" />
        <activity android:name="com.telehealthmanager.app.ui.activity.payment.PaymentActivity" />
        <activity android:name="com.telehealthmanager.app.ui.activity.patientDetail.PatientDetailsActivity" />
        <activity android:name="com.telehealthmanager.app.ui.activity.findDoctors.FindDoctorBookingActivity" />
        <activity android:name="com.telehealthmanager.app.ui.activity.findDoctors.FindDoctorsListActivity" />
        <activity android:name="com.telehealthmanager.app.ui.activity.findDoctors.FindDoctorCategoriesActivity" />
        <activity android:name="com.telehealthmanager.app.ui.activity.thankyou.ThankyouActivity" />
        <activity android:name="com.telehealthmanager.app.ui.activity.visitedDoctor.VisitedDoctorsDetailActivity" />
        <activity android:name="com.telehealthmanager.app.ui.activity.visitedDoctor.VisitedDoctorsActivity" />
        <activity android:name="com.telehealthmanager.app.ui.activity.profile.ProfileActivity" />
        <activity
            android:name="com.telehealthmanager.app.ui.activity.main.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.telehealthmanager.app.ui.activity.register.RegisterFinalActivity" />
        <activity android:name="com.telehealthmanager.app.ui.activity.register.RegisterGenderActivity" />
        <activity android:name="com.telehealthmanager.app.ui.activity.register.RegisterEmailActivity" />
        <activity android:name="com.telehealthmanager.app.ui.activity.register.RegisterNameActivity" />
        <activity android:name="com.telehealthmanager.app.ui.activity.login.LoginActivity" />
        <activity android:name="com.telehealthmanager.app.ui.activity.allservice.AllServiceActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_api" />

        <!-- Firebase Notifications -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/app_logo" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default_notification_channel" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />

        <service
            android:name="com.telehealthmanager.app.fcm.FcmService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="com.telehealthmanager.doctor.ui.activity.healthfeeddetails.HealthFeedDetailsActivity" />

        <activity
            android:name="com.telehealthmanager.app.ui.activity.splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.telehealthmanager.app.ui.activity.otp.OTPActivity" />
        <activity android:name=".ui.twilio.TwilloVideoActivity" />

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>